name: Build, Run App and Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Set up JDK 11
      uses: actions/setup-java@v3
      with:
        java-version: '11'
        distribution: 'temurin'

    - name: Grant execute permission for Gradlew
      run: chmod +x gradlew

    - name: Setup Chrome and ChromeDriver
      uses: actions/setup-chrome@v4
      with:
        chrome-version: '117'  # стабильная версия
        chromedriver-version: '117.0.5938.92'  # совместимая версия

    - name: Build project
      run: ./gradlew clean build

    - name: Run application in background
      run: nohup java -jar artifacts/app-replan-delivery.jar &

    - name: Run tests
      run: ./gradlew test -Dselenide.headless=true

    - name: Stop application
      run: pkill -f 'artifacts/app-replan-delivery.jar'


