name: Build, Run App and Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    services:
      selenium:
        image: selenoid/vnc:chrome_117.0
        options: >-
          --shm-size 2g
        ports:
          - 4444:4444

    steps:
    - uses: actions/checkout@v3

    - name: Set up JDK 11
      uses: actions/setup-java@v3
      with:
        java-version: '11'
        distribution: 'temurin'

    - name: Grant execute permission for Gradlew
      run: chmod +x gradlew

    - name: Build project
      run: ./gradlew clean build

    - name: Run application in background
      run: nohup java -jar artifacts/app-replan-delivery.jar &

    - name: Run tests
      env:
        SELENIUM_REMOTE_URL: http://localhost:4444/wd/hub
      run: ./gradlew test -Dselenide.headless=true

    - name: Stop application
      run: pkill -f 'artifacts/app-replan-delivery.jar'


