name: Build, Run App and Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up JDK 11
      uses: actions/setup-java@v3
      with:
        java-version: '11'
        distribution: 'temurin'

    - name: Grant execute permission for Gradlew
      run: chmod +x gradlew

    - name: Install Chrome
      run: sudo apt-get update && sudo apt-get install -y google-chrome-stable

    - name: Install ChromeDriver
      uses: nanasess/setup-chromedriver@v1
      with:
        chromedriver-version: 'latest'

    - name: Build project
      run: ./gradlew clean build

    - name: Run application in background
      run: nohup java -jar artifacts/app-replan-delivery.jar &

    - name: Wait for app to start
      run: sleep 10

    - name: Run tests
      run: ./gradlew test -Dselenide.headless=true

    - name: Stop application
      run: pkill -f 'artifacts/app-replan-delivery.jar'


